@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*** NORMALIZACIÓN INICIAL DE CSS ***/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

/*** NAVBAR ***/

header {
    background-color: #0097B2;
    position: sticky;
    top: 0;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3.5rem;
}

.logo{
    width: 85px;
}

.navLinksCotenedor{
    display: flex;
    gap: 100px;
    align-items: center;
}

.navLinksCotenedor a,
.navLinksCotenedor button{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 30.48px;
}

.botonRegistro{
    background-color: #0075bb;
    border: 0px;
    padding: 1.2rem 2rem;
    border-radius: 1em;
}

.botonRegistro:hover{
    color: #0075bb;
    background-color: white;
}

/*** INICIO HERO SECTION ***/

.hero-banner {
    background-image: url(../img/Banner.png);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-banner h2 {
    color: rgba(0, 151, 178, 1);
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 4.5rem;
    font-optical-sizing: auto;
    text-align: center;
    max-width: 50%;
}

/*** MAIN ***/

main {
    
    max-width: 80%;
    margin: 0 auto;
}

main section {
    margin: 2%;
}

main h1 {
    font-size: 2.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin: 4% 0;
}

/*** LIBROS PORTADA ***/

.libro-portada h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 1rem;
}

.libro-portada p {
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 1rem;
}

.libro-portada a {
    font-size: 1.8rem;
    text-align: center;
    border: rgba(0, 151, 178, 1);
    border-radius: 15px;
    background-color: rgba(0, 151, 178, 1);
    padding: 0.6rem;
    margin: 1rem;
}

.libro-portada {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 2.5em;
    width: 75%;
}

.container-libro-portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-texto-portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libro-portada picture img {
    width: 80%;
    border-radius: 18px;
}

/*---CAROUSEL---*/

.carousel h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;   
}

.carousel picture img {
    width: 80%;
    border-radius: 18px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card {
    display: inline-block;
    width: 22%;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 2.5em;
    padding: 1.7rem;
}

.card-text {
    text-align: center;
    margin: 1%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-text h4 {
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}

.card-text p:first-of-type {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.card-text p:nth-of-type(2) {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgba(29, 132, 181, 1);
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.carousel-wrapper {
    transition: transform 0.9s ease;
}

/*---CAROUSEL LEFT AND RIGHT BUTTONS---*/

.fa-solid {
    font-size: 2rem;
}

.carousel-button {
    background-color: rgba(0, 151, 178, 1);
    border-radius: 5px;
    border-color: rgba(0, 151, 178, 1);
    padding: 0.5rem;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.prev {
    position: absolute;
    left: 3%;
    top: 50%;
}

.next {
    position: absolute;
    right: 3%;
    top: 50%;
}

/*---FOOTER---*/

#footer{
    background-color: #0097B2;
    /* padding: 1rem 3.5rem; */
}

.footerIcons{
    background-color: #0075bb;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    margin-bottom: 1rem;
}

.iconsContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footerLinksContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;
}

.footerLinks{
    text-align: right;
}

.footerLinks li a{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30.48px;
}

.footerLogo{
    width: 180px;
    display: flex;
    justify-self: center;
}

.footerHorarios{
    font-family: "Montserrat", sans-serif;
}

.footerHorarios p,
.footerHorarios h4{
    margin-bottom: 0px;
}

.footerHorarios h3{
    margin-bottom: 0px;
}

.footerDiaHora{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0px;
}

.footerDiaHora p{
    margin-top: 21px;
}

.copyright{
    text-align: center;
    padding: 0.5rem;
}