@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*** NORMALIZACIÓN INICIAL DE CSS ***/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

/*----NAVBAR----*/
#navbar{
    background-color: #0097B2;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.logo{
    width: 110px;
}

.navLinksCotenedor{
    display: flex;
    gap: 100px;
    align-items: center;
}

.navLinksCotenedor li{
    list-style-type: none;
}

.navLinksCotenedor a,
.navLinksCotenedor button{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30.48px;
}

.botonRegistro{
    background-color: #0075bb;
    border: 0px;
    padding: 15px 30px;
    border-radius: 10px;
}

.botonRegistro:hover{
    color: #0075bb;
    background-color: white;
}

.navbar-collapse{
    flex-grow: 0;
}

/*---FOOTER---*/

#footer{
    background-color: #0097B2;
}

.footerIcons{
    background-color: #0075bb;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    margin-bottom: 1rem;
}

.iconsContainer{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footerLinksContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.footerLinks{
    list-style-type: none;
    text-align: right;
}

.footerLinks li a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30.48px;
}

.footerLogo{
    width: 180px;
    display: flex;
    justify-self: center;
}

.footerHorarios{
    font-family: "Montserrat", sans-serif;
}

.footerHorarios p,
.footerHorarios h4{
    margin-bottom: 0px;
}

.footerHorarios h3{
    margin-bottom: 0px;
    text-decoration: underline;
}

.footerDiaHora{
    flex-direction: column;
    align-items: initial;
    margin-top: 1rem;
}

.copyright{
    text-align: center;
    padding: 0.5rem;
}

/*---CONTACTO---*/

#sectionContacto{
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}

.textoContacto{
    font-size: 25px;
    margin: 3rem 0rem;
}

.datosContacto{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.datosContacto p{
    margin-bottom: 0px;
}

.dato{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

.dato img{
    width: 32px;
    height: 31px;
}

.textoInputsContacto{
    font-size: 20px;
    margin: 3rem 0rem;
}

#form{
    width: 50%;
    margin: 2rem 0rem;
}

#form div:not(.containerNombreTelefono){
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.containerNombreTelefono{
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#form label{
    font-size: 20px;
    text-align: left;
}

#form input,
#form select{
    height: 3rem;
    border-radius: 10px;
    border: 1px #0075bb solid;
    font-size: 20px;
    padding: 0rem 1rem;
}

#form input:focus,
#form textarea:focus,
#form select:focus{
    border: 1px #61b7e9 solid;
    outline: none;
}

#form textarea{
    border-radius: 10px;
    border: 1px #0075bb solid;
    padding: 1rem;
    font-size: 20px;
}

.politicaDePrivacidad{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.boton{
    width: 100%;
    background-color: #0097B2;
    border-radius: 10px;
    border: 1px #0097B2 solid;
    padding: 1rem 0rem;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.mensajeEnviado{
    background-color: #61b7e9;
    color: black;
    padding: 2rem;
    margin-bottom: 5rem;
}

/*---TIENDA---*/

#sectionTienda{
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
}

.divContainerLibros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 50px
}

#categorias{
    padding: 1rem;
    border-radius: 10px;
    border: 1px #0075bb solid;
    font-size: 20px;
    margin-top: 3rem;
}

#categorias:focus{
    border: 1px #61b7e9 solid;
    outline: none;
}

.divCard{
    padding: 1rem;
    width: 20rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.627);
    border-radius: 10px;
    text-align: center;
}

.imgCard{
    width: 100%;
    height: 25rem;
}

.tituloLibro{
    font-size: 22px;
    padding-top: 1rem;
    font-family: "Montserrat", sans-serif;
}

.precioCard{
    padding: 1rem;
}

/*---INICIO---*/

.bookBanner {
    background-image: url(../img/Banner.png);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookBanner h2 {
    color: rgba(0, 151, 178, 1);
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 4.5rem;
    font-optical-sizing: auto;
    text-align: center;
    max-width: 50%;
}

/*--- main ---*/

.mainHome {
    
    max-width: 80%;
    margin: 0 auto;
}

.mainHome section {
    margin: 2%;
}

.mainHome h1 {
    font-size: 2.6rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin: 4% 0;
}

/*--- libro portada ---*/

.libroPortada h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 1rem;
}

.libroPortada p {
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 1rem;
}

.libroPortada a {
    font-size: 1.8rem;
    text-align: center;
    border: rgba(0, 151, 178, 1);
    border-radius: 15px;
    background-color: rgba(0, 151, 178, 1);
    padding: 0.6rem;
    margin: 1rem;
}

.libroPortada {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 2.5em;
    width: 75%;
}

.containerLibroPortada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerTextoPortada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libroPortada picture {
    width: 50%;
    display: flex;
    justify-content: center;
}

.libroPortada img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
    min-height: 350px;
    border-radius: 18px;
}

/*---carousel---*/

.carousel h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;   
}

.carousel picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel img{
    max-width: 100%;
    height: auto;
    max-height: 450px;
    min-height: 450px;
    border-radius: 18px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 1s; 
}

.carouselCard {
    display: inline-block;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 2.5em;
    padding: 1.7rem;
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 1rem;
}

.cardText {
    text-align: center;
    margin: 1%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardText h4 {
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}

.cardText p:first-of-type {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.cardText p:nth-of-type(2) {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgba(29, 132, 181, 1);
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
}

.carouselWrapper {
    overflow: hidden;
    width: 100%;
}

/*---carousel left and right buttons---*/

.fa-solid {
    font-size: 2rem;
}

.carouselButton {
    background-color: rgba(0, 151, 178, 1);
    border-radius: 5px;
    border-color: rgba(0, 151, 178, 1);
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
}

.carousel {
    position: relative;
}

.prev {
    position: absolute;
    left: 0%;
    top: 50%;
}

.next {
    position: absolute;
    right: -3%;
    top: 50%;
}

/*---REGISTRO---*/
#setionRegistro{
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containerContraseña{
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
}

.containerContraseña input{
    flex: 1;
}

.containerContraseña img{
    width: 3%;
    height: 3%;
    cursor: pointer;
}

.errorContraseña ul{
    color: red;
    text-align: left;
}

.mainRegistro{
    height: 80vh;
}

.bienvenidaTextoRegistro{
    margin-bottom: 2rem;
}

.botonVolverInicio{
    padding: 1rem 5rem;
}

/*--Media Queries---*/

@media screen and (max-width: 700px){
    .datosContacto{
        flex-direction: column;
        align-items: center;
    }

    .iconsContainer{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    /*---Contacto---*/

    #form{
        width: 100%;
    }

    /*---Footer---*/
    .footerLinksContainer{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 20px
    }

    .footerLinks{
        text-align: center;
        margin-bottom: 0px;
        padding: 0px;
    }

    .footerHorarios{
        text-align: center;
        margin: 2rem 0rem;
    }

    .footerHorarios h3{
        font-size: 22px;
    }

    .footerHorarios h4{
        font-size: 20px;
        margin-top: 8%;
    }

    .footerHorarios p{
        margin-top: 0px;
    }

}

@media screen and (max-width: 950px){
    .navLinksCotenedor{
        gap: 50px;
    }
}

@media screen and (max-width: 1230px){
    /*---Contacto---*/

    .containerNombreTelefono{
        display: flex;
        flex-direction: column;
    }

    /*---Footer---*/

    .footerLinksContainer{
        gap: 0px;
    }
}